@charset "UTF-8";

.board-wrap table{
	margin: 0 auto;
	width: 100%;
}
.board-wrap table thead tr th{
	border-top: 1px solid #101010;
	background: #F2F2F2;
	padding: 15px 20px;
	font-size: 15px;
	font-family: "ngB";
}
.board-wrap table tbody tr{
	border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
.board-wrap table tbody tr td{
	padding: 15px;
}
.board-wrap #board-list tbody tr td{
	text-align: center;
}
.board-wrap #write-form{
	width: 100%;
	margin: auto;
}
.board-wrap input{
	width: 100%;
	padding: 10px;
    font-family: "ngB";
    font-size: 15px;
}
.board-wrap tfoot tr td{
	text-align: center;
}
.sort-wrap{
	float: left;
}
.sort-wrap > ul > li{
	display: inline-block;
	padding-right: 25px;
}
.sort-wrap > ul > li:hover{
	text-decoration: underline;	
}
