@charset "UTF-8";

/* font-face(wott, ttf) setting */
/* 나눔바른고딕 */
@font-face {
    font-family: 'nbg';
    src: url('./fonts/NanumBarunGothicRegular.woff') format('woff'),
         url('./fonts/NanumBarunGothicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nbgB';
    src: url('./fonts/NanumBarunGothicBold.woff') format('woff'),
         url('./fonts/NanumBarunGothicBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* 나눔고딕 */
@font-face {
    font-family: 'ng';
    src: url('./fonts/NanumGothic.woff') format('woff'),
    	 url('./fonts/NanumGothic.woff2') format('woff2'),
         url('./fonts/NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ngB';
    src: url('./fonts/NanumGothicBold.woff') format('woff'),
    	 url('./fonts/NanumGothicBold.woff2') format('woff2'),
         url('./fonts/NanumGothicBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
::selection {
	background:#101010;
	color: #ff9951;
	text-shadow: none;
}
/* HTML5 구버전 브라우저 초기화 */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "nbg";
	background: #f8f8f8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: #212121;
}
textarea{ resize: none; }
input{ box-sizing: border-box; }
#wrap{
    position: relative;
    width: 100%;
    height: 100%;
}
#content{
	min-height:700px;
    padding: 52px 0 140px;
}
button{
	cursor: pointer;
}
/* common-header */
#header{
	width: 100%;
    background: #FFECB3;
}
#header .gnb-wrap{
	max-width: 1280px;
    margin: 0 auto;
}
.gnb-wrap .gnb-menu{
	position: relative;
    max-width: 1920px;
    min-width: 1280px;
    height: 81px;
    margin: 0 auto;
    text-align: center;
    background: #FFECB3;
    padding-right: 40px;
} 
.gnb-menu .logo-wrap{
	float: left;
	position: relative;
    top: 2px;
}
.gnb-menu .logo-wrap img{
	width: 92px;
}
.gnb-menu .menu-wrap{
    float: left;
    line-height: 81px;
    font-family: "nbgB";
    font-size: 18px;
    padding-left: 50px;

}
.gnb-wrap .info-wrap{
	float: right;
    font-family: "nbg";
    line-height: 81px;
}
.gnb-wrap .info-wrap li{
    float: left;
}
.gnb-wrap .info-wrap li:first-child:before{
	width: 0;
	height: 0;
}
.gnb-wrap .info-wrap li:before{
    content: '';
    display: inline-block;
    width: 2px;
    height: 12px;
    background-color: #BDBDBD;
    margin: 0 10px;
}
/* common-main */
#main{
	width: 1180px;
    height: 100%;
    margin: 0 auto;
}

/* common-footer */
#footer{
	clear: both;
}
.footer-wrap{
	background: #202020;
    padding: 20px;
    color: #808080;
    letter-spacing: -0.8px;
    font-size: 15px;
    min-width: 1280px;
    margin: 0 auto;
    height: 68px;
}
.footer-wrap p:first-child{
	margin-bottom: 20px;
}
.footer-wrap p:last-child{
	color: #ffffff;
}
/* common-myPage */
.my-page-cont .main-top{
    text-align: left;
    font-size: 22px;
    font-family: "nbgB";
    padding: 0 24px;
    background: linear-gradient(-90deg, #7AB600, #7AB600 45%, #E1EE06);
    line-height: 64px;
}
.my-page-cont .main-bottom{
	width: 100%;
	display: table;
    border-right: 1px solid #bebebe;
    border-left: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    box-sizing: border-box;
}
.my-page-cont .main-bottom ul{
	padding: 30px 0px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.my-page-cont .main-bottom .mid-col:before{
	content: '';
	display: inline-block;
	width: 1px;
	height:67px;
	background: #bebebe;
	float:left;
}
.my-page-cont .main-bottom ul li a{
	display: inline-block;
	font-size: 18px;
	font-family: "ngB";
	margin-bottom: 20px;
}
.my-page-cont .main-bottom ul li a:hover{
	text-decoration: underline;
}
.my-page-cont .main-bottom ul li p{
	font-size: 30px;
	font-family: "nbgB";
}
/* common-items */
.sub-title{
	margin-bottom: 30px;
}

.sub-title h1{
	font-family: "ngB";
	font-size: 23px;
	text-align: center;
	color: #464646;
}
.duck-ico{
	position: absolute;
    top: -65px;
    left: 188px;
}
.duck-ico img{
	width: 100px;
}
.btn{
	font-family: "nbgB";
	font-size: 17px;
    padding: 15px;
   	border: 0;
	cursor: pointer;
	color: #ffffff;
}
.error-msg{
    font-size: 15px;
    color: #c30b00;
    text-align: left;
    margin: 12px auto !important;
    width: 354px;
}
.highlight{
	color: #c30b00;
}
.highlight:hover{
	text-decoration: underline;
}
.title-wrap{
    display: inline-block;
    font-family: "nbgB";
    font-size: 35px;
    border-bottom: 4px solid black;
    margin-bottom: 50px;
}
/* head-list */
.sort-wrap{
	float: left;
}
.sort-wrap > ul > li{
	display: inline-block;
	font-family: "ngB";
}
.sort-wrap > ul > li > a{
	margin-right: 20px;
	color: #828282;
}
.sort-wrap > ul > li > a:hover{
	padding-bottom: 4px;
	border-bottom: 2px solid #828282;
}
.sort-wrap > ul > li > a.active{
	padding-bottom: 4px;
	color: #000000;
	border-bottom: 2px solid #000000;
}
.button-wrap{
    float: right;
    position: relative;
    bottom: 45px;
    border-radius: 5px;
    background: #4cae4c;
    cursor: pointer;
}
.button-wrap:hover{
    background: #3d8c3f;
}
.button-wrap a{
	display: block;
	font-size: 13px;
	color: #ffffff;
	padding: 6px 15px 10px 15px;
}
.button-wrap a:before{
    content: '';
    display: inline-block;
    position: relative;
    top: 1px;
    left: -1px;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    background: url(../images/iconset.png) no-repeat;
    background-size: 391px;
    background-position: -272px -10px;
}
.search-wrap{
	position: relative;
}
.search-wrap #searchInput{
	border: 1px solid black;
}
.search-wrap #searchBtn{
   	cursor: pointer;
   	border: 0;
   	position: absolute;
    width: 28px;
    height: 28px;
    background: url(../images/iconset.png) no-repeat;
    background-size: 523px;
    background-position: -394px -12px;
}
.search-wrap .ico{
	display: block;
    position: absolute;
    cursor: pointer;
    border: 0;
    width: 28px;
    height: 28px;
	background: url(../images/iconset.png) no-repeat;
    background-size: 413px;
    background-position: -339px -7px;
}
.date-format{
	font-size: 15px;
	color: #8a8a8a;
	margin: 5px 0;
}
.bNum{
	color: #8a8a8a;
}
.bNum:before{
	content: '#';
	display: inline;
}
.txt-format{
	color: #8a8a8a;
	font-size: 15px !important;
}
.txt-format:before{
	content: '';
    display: inline-block;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.reply-cnt:before{
    background: url(../images/iconset.png) no-repeat;
    background-size: 358px;
    background-position: -325px -9px;
}
.good-cnt:before{
    background: url(../images/iconset.png) no-repeat;
    background-size: 358px;
    background-position: -11px -44px;
}
.hits-cnt:before{
    background: url(../images/iconset.png) no-repeat;
    background-size: 358px;
    background-position: -37px -45px;
}
.unreset{
    overflow-x: auto;
    min-height: 180px;
    margin: 30px 0;
    word-break: break-all;
}
.title-navi{
	margin-top: 5px;	
}
.title-navi > button{
	border: 0;
	padding: 0;
	cursor: pointer;
	color: #8a8a8a;
	font-size: 13px;
	background: #feffff;
}
.title-navi > button:hover{
	color: #282828;
	text-decoration: underline;
}
.title-navi > button:nth-child(even):before{
	content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #8a8a8a;
    margin-right: 5px;
}
.title-navi > button:nth-child(even):after{
	content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #8a8a8a;
    margin-left: 5px;
} 
#more-btn{
	border: 0;
    background: none;
}
#more-btn td{
	padding: 0;
}
#more-btn td button{
    border: 0;
	margin-top: 10px;
    padding: 15px 20px;
    width: 100%;
    font-size: 15px;
    font-family: "nbgB";
    border-radius: 3px;
    color: #fff;
    background: #ffbc6d;
}

/* pageNavi */
.pageNavi{
	padding-top: 56px;
    font-size: 0;
    text-align: center;
    clear: both;
}
.pageNavi .pagingWrap{
	font-family: "nbgB";
	display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}
.pageNavi .pagingWrap a{
	font-family: "nbgB";
	display: inline-block;
    min-width: 40px;
    height: 40px;
    background-color: #f8f8f8;
    color: #606060;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    vertical-align: top;
}
.pageNavi .pagingWrap a:hover{
	border-bottom: 1px solid #202020;
}
.pageNavi .pagingWrap span{
	
    display: inline-block;
    min-width: 40px;
    height: 40px;
    background-color: #f8f8f8;
    color: #606060;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    vertical-align: top;
}
.pageNavi .pagingWrap a.nextBtn{
    background: url(../images/right_arrow.png) no-repeat;
    background-position: center;
    background-size: 13px;
    vertical-align: middle;
}
.pageNavi .pagingWrap a.prevBtn{
    background: url(../images/left_arrow.png) no-repeat;
    background-position: center;
    background-size: 13px;
    vertical-align: middle;
}
.pageNavi .pagingWrap span.nextBtnNone{
    background: url(../images/right_arrow_none.png) no-repeat;
    background-position: center;
    background-size: 13px;
    vertical-align: middle;
}
.pageNavi .pagingWrap span.prevBtnNone{
    background: url(../images/left_arrow_none.png) no-repeat;
    background-position: center;
    background-size: 13px;
    vertical-align: middle;
}
.pageNavi .pagingWrap span.ptPtxt{
	background-color: #202020;
    color: #fff;
}

