@charset "UTF-8";
.login-form-wrap {
	position: relative;
	width: 480px;
    margin: 40px auto;
    padding: 55px 0;
    text-align: center;
    background: #fff;
    border-radius: 10px;
}

.login-form-wrap .login-wrap ul li{
	margin: 20px 0;
}

.login-form-wrap .login-wrap ul li input{
	width: 307px;
    padding: 15px 40px 15px 15px;
    font-size: 15px;
    border: 0;
    background: #f8f8f8;
}
.check-wrap{
	margin: 0 auto;
	width: 306px;
}
.check-wrap .chk-area{
	display: inline-block;
	float: left;
}
.check-wrap .chk-area input{
	position: absolute;
    z-index: 0;
    opacity: 0;
}
.check-wrap .chk-area label{
	font-size: 15px;
	color: #333;
	cursor: pointer;
}
.check-wrap .find-area{
	float: right;
	line-height: 1.5;
}
.check-wrap .find-area a{
	font-size: 15px;
}
.check-wrap .find-area a:hover{
	color: #2400ab;
	border-bottom: 1px solid #2400ab;
}
.chk-area input + label:before{
	content: '';
    zoom: 1;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: -3px 0 0 0; 
    background: url(../images/iconset.png) no-repeat;
    vertical-align: middle;
    background-size: 515px;
    background-position: -318px -14px;
}
.chk-area input:checked + label:before{
    background-size: 515px;
    background-position: -277px -14px;
}
.login-form-wrap .submit-wrap .btn{
   	margin-top: 20px;
	width: 307px;
    background: #4077B3;
}
.find-wrap{
	text-align: center;
}
.find-form{
    background: #ffffff;
    padding: 30px;
    width: 650px;
    margin: 0 auto;
    border-top: 1px solid #333333;
}
.find-form h3{
	font-size: 17px;
	color: #333333;
	font-family: "nbg";
}
.find-form ul{
	width: 450px;
	margin: 0 auto;
}
.find-form .find-info{
	background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    font-size: 16px;
    margin: 15px auto;
}
.find-form .find-info p{
	margin: 6px 0;
}
.find-form ul li input{
	width: 100%;
	font-size: 14px;
	padding: 10px;
}
.find-form ul li .error-msg{
	margin: 7px 0 !important;
}
.find-btn-wrap ul li {
    display: block;
    width: 100%;
}
.find-btn-wrap ul li button {
	border: 0;
	cursor: pointer;
	color: #ffffff;
    font-size: 17px;
    font-family: "nbgB";
    width: 100%;
    padding: 10px 30px;
    margin-top: 16px;
}
.find-btn-wrap ul li:first-of-type button {
	background: #4077B3;
}
.find-btn-wrap ul li:last-of-type button {
	background: #686868;
}