<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.uglyduck.webapp.dao.BoardDao">
	
	<select id="getBoardList" resultType="boardDto" parameterType="String">
		SELECT
			*
		FROM
			(SELECT
				ROWNUM R_NUM, R.*
			FROM
				(SELECT 
					A.BOARD_NO, A.TITLE, A.MEMBER_ID, A.HITS_CNT, A.GOOD_CNT, A.BOARD_DT, (
						SELECT COUNT(*) 
						FROM REPLY B 
						WHERE B.BOARD_NO = A.BOARD_NO
					) AS REPLY_CNT
				FROM 
					BOARD A 
				ORDER BY
				<if test="param1 == 'latest' or param1 == null">
					BOARD_NO
				</if>
				<if test="param1 == 'recommend'">
					GOOD_CNT
				</if>
				<if test="param1 == 'reply'">
					REPLY_CNT
				</if>
				<if test="param1 == 'hit'">
					HITS_CNT  
				</if>
				DESC) R)
		WHERE
			R_NUM BETWEEN #{param2} AND #{param3}
	</select>
	
	<select id="getBoardListSize" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			BOARD
	</select>
	
	<select id="memberBoardListSize" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			BOARD
		WHERE
			MEMBER_ID = #{param1}
	</select>
	
	<insert id="boardWrite" parameterType="boardDto">
		INSERT INTO
			BOARD(BOARD_NO, MEMBER_ID, TITLE, CONTENTS, BOARD_DT, BOARD_IP, HITS_CNT, GOOD_CNT, REPLY_CNT)
		VALUES(BOARD_SEQ.NEXTVAL, #{member_id}, #{title}, #{contents}, SYSDATE, #{board_ip}, 0, 0, #{reply_cnt})
	</insert>
	
	<select id="boardView" resultType="boardDto">
		SELECT 
			A.BOARD_NO, A.TITLE, A.CONTENTS, A.MEMBER_ID, A.HITS_CNT, A.GOOD_CNT, A.BOARD_DT, (
				SELECT COUNT(*) 
				FROM REPLY B 
				WHERE B.BOARD_NO = A.BOARD_NO
			) AS REPLY_CNT
		FROM 
			BOARD A 
		WHERE
			BOARD_NO = #{param1}
	</select>
	
	<update id="boardUpdate">
		UPDATE
			BOARD
		SET
			TITLE = #{param1}, CONTENTS = #{param2}
		WHERE 
			BOARD_NO = #{param3}
	</update>
	
	<delete id="boardDrop">
		DELETE FROM
			BOARD
		WHERE
			BOARD_NO = #{param1}
	</delete>

	<update id="boardHits" parameterType="boardDto">
		UPDATE
			BOARD
		SET
			HITS_CNT = #{hits_cnt}
		WHERE
			BOARD_NO = #{board_no}
	</update>
	
	<update id="setBoardGoodRec">
		UPDATE
			BOARD
		SET
			GOOD_CNT = GOOD_CNT + 1
		WHERE 
			BOARD_NO = #{param1}
	</update>
	
	<update id="setBoardBadRec">
		UPDATE
			BOARD
		SET
			GOOD_CNT = GOOD_CNT - 1
		WHERE 
			BOARD_NO = #{param1}
	</update>
	
	<select id="search" resultType="boardDto" parameterType="String">
		SELECT
			*
		FROM
			(SELECT
				ROWNUM R_NUM, R.*
			FROM
				(SELECT 
					A.BOARD_NO, A.TITLE, A.MEMBER_ID, A.HITS_CNT, A.GOOD_CNT, A.BOARD_DT, (
						SELECT COUNT(*) 
						FROM REPLY B 
						WHERE B.BOARD_NO = A.BOARD_NO
					) AS REPLY_CNT
				FROM 
					BOARD A
				WHERE
					CONTAINS (title, '%'||#{param1}||'%') > 0
				ORDER BY
				<if test="param2 == 'latest' or param2 == null">
					BOARD_NO
				</if>
				<if test="param2 == 'recommend'">
					GOOD_CNT
				</if>
				<if test="param2 == 'reply'">
					REPLY_CNT
				</if>
				<if test="param2 == 'hit'">
					HITS_CNT  
				</if> 
				DESC) R)
		WHERE
			R_NUM BETWEEN #{param3} AND #{param4}
	</select>
	
	<select id="searchListSize" resultType="int" parameterType="String">
		SELECT 
			COUNT(*)
		FROM 
			BOARD
		WHERE
			CONTAINS (title, '%'||#{param1}||'%') > 0
	</select>
	
	<select id="memberWriteList" resultType="boardDto">
		SELECT
			*
		FROM
			(SELECT
				ROWNUM R_NUM, R.*
			FROM
				(SELECT 
					A.BOARD_NO, A.MEMBER_ID ,A.TITLE, A.BOARD_DT
				FROM 
					BOARD A
				WHERE 
					MEMBER_ID = #{param1} 
				ORDER BY
					BOARD_DT DESC) 
				R)
		WHERE
			R_NUM BETWEEN #{param2} AND #{param3}
	</select>
	
	<select id="memberRecommendList" resultType="boardDto">
		SELECT
			*
		FROM
			(SELECT
				ROWNUM R_NUM, R.*
			FROM
				(SELECT 
					A.BOARD_NO, A.MEMBER_ID, A.TITLE, A.BOARD_DT
				FROM 
					BOARD A, RECOMMEND B
				WHERE 
					A.BOARD_NO = B.BOARD_NO AND B.MEMBER_ID = #{param1} AND B.REC_VOTE='good' 
				ORDER BY
					BOARD_DT DESC) 
				R)
		WHERE
			R_NUM BETWEEN #{param2} AND #{param3}
	</select>
	
	
	<select id="adminBoardList" resultType="boardDto">
		SELECT
			*
		FROM
			(SELECT
				ROWNUM R_NUM, R.*
			FROM
				(SELECT 
					A.BOARD_NO, A.TITLE, A.MEMBER_ID, A.HITS_CNT, A.GOOD_CNT, A.BOARD_DT, (
						SELECT COUNT(*) 
						FROM REPLY B 
						WHERE B.BOARD_NO = A.BOARD_NO
					) AS REPLY_CNT
				FROM 
					BOARD A 
				ORDER BY 
					BOARD_DT DESC) R)
		WHERE
			R_NUM BETWEEN #{param1} AND #{param2}
	</select>
	
	<select id="adminBoardSearch" resultType="boardDto">
		SELECT
			*
		FROM
			(SELECT
				ROWNUM R_NUM, R.*
			FROM
				(SELECT 
					A.BOARD_NO, A.TITLE, A.MEMBER_ID, A.HITS_CNT, A.GOOD_CNT, A.BOARD_DT, (
						SELECT COUNT(*) 
						FROM REPLY B 
						WHERE B.BOARD_NO = A.BOARD_NO
					) AS REPLY_CNT
				FROM 
					BOARD A
				WHERE
				<choose>
					<when test="param1 == ''">			
						BOARD_DT BETWEEN #{param2} AND #{param3}
					</when>
					<when test="param2 == '' and param3 == ''">
						CONTAINS (title, '%'||#{param1}||'%') > 0
					</when>
					<otherwise>
						CONTAINS (title, '%'||#{param1}||'%') > 0 AND BOARD_DT BETWEEN #{param2} AND #{param3}
					</otherwise>
				</choose>
				ORDER BY 
					BOARD_DT DESC) R)
		WHERE
			R_NUM BETWEEN #{param4} AND #{param5}
	</select>
	
	<select id="adminBoardSearchSize" resultType="int" parameterType="String">
		SELECT 
			COUNT(*)
		FROM 
			BOARD
		WHERE
		<choose>
			<when test="param1 == ''">			
				BOARD_DT BETWEEN #{param2} AND #{param3}
			</when>
			<when test="param2 == '' and param3 == ''">
				CONTAINS (title, '%'||#{param1}||'%') > 0
			</when>
			<otherwise>
				CONTAINS (title, '%'||#{param1}||'%') > 0 AND BOARD_DT BETWEEN #{param2} AND #{param3}
			</otherwise>
		</choose>
	</select>
	
	<select id="todayBestList" resultType="boardDto">
		SELECT
			*
		FROM
			(SELECT 
				ROWNUM R_NUM, R.*
			FROM
				(SELECT 
					BOARD_NO, TITLE, CONTENTS, MEMBER_ID, BOARD_DT
				FROM 
					BOARD
				WHERE
					BOARD_DT BETWEEN SYSDATE-1 AND SYSDATE	
				ORDER BY
					GOOD_CNT DESC) R)
		WHERE 
			R_NUM BETWEEN #{param1} AND #{param2}
	</select>
	
	<select id="weekBestList" resultType="boardDto">
		SELECT
			*
		FROM
			(SELECT 
				ROWNUM R_NUM, R.*
			FROM
				(SELECT 
					BOARD_NO, TITLE, CONTENTS, MEMBER_ID, BOARD_DT
				FROM 
					BOARD
				WHERE
					BOARD_DT BETWEEN SYSDATE-7 AND SYSDATE	
				ORDER BY
					GOOD_CNT DESC) R)
		WHERE 
			R_NUM BETWEEN #{param1} AND #{param2}
	</select>
	
	<select id="monthBestList" resultType="boardDto">
		SELECT
			*
		FROM
			(SELECT 
				ROWNUM R_NUM, R.*
			FROM
				(SELECT 
					BOARD_NO, TITLE, CONTENTS, MEMBER_ID, BOARD_DT
				FROM 
					BOARD
				WHERE
					BOARD_DT BETWEEN SYSDATE-30 AND SYSDATE	
				ORDER BY
					GOOD_CNT DESC) R)
		WHERE 
			R_NUM BETWEEN #{param1} AND #{param2}
	</select>
	
	<select id="yearBestList" resultType="boardDto">
		SELECT
			*
		FROM
			(SELECT 
				ROWNUM R_NUM, R.*
			FROM
				(SELECT 
					BOARD_NO, TITLE, CONTENTS, MEMBER_ID, BOARD_DT
				FROM 
					BOARD
				WHERE
					BOARD_DT BETWEEN SYSDATE-365 AND SYSDATE	
				ORDER BY
					GOOD_CNT DESC) R)
		WHERE 
			R_NUM BETWEEN #{param1} AND #{param2}
	</select>
	
</mapper>