<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.uglyduck.webapp.dao.BoardDao">
	
	<select id="getBoardList" resultType="boardDto">
		SELECT
			*
		FROM
			(SELECT
				ROWNUM R_NUM, R.*
			FROM
				(SELECT 
					A.BOARD_NO, A.TITLE, A.MEMBER_ID, A.HITS_CNT, A.BOARD_DT, (
						SELECT COUNT(*) 
						FROM REPLY B 
						WHERE B.BOARD_NO = A.BOARD_NO
					) AS REPLY_CNT
				FROM 
					BOARD A 
				ORDER BY
					BOARD_NO DESC) R)
		WHERE
			R_NUM BETWEEN #{param1} AND #{param2}
	</select>
	
	<select id="getBoardListSize" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			BOARD
	</select>
	
	<insert id="boardWrite" parameterType="boardDto">
		INSERT INTO
			BOARD(BOARD_NO, MEMBER_ID, TITLE, CONTENTS, BOARD_DT, BOARD_IP, HITS_CNT, GOOD_CNT, REPLY_CNT)
		VALUES(BOARD_SEQ.NEXTVAL, #{member_id}, #{title}, #{contents}, SYSDATE, #{board_ip}, 0, 0, #{reply_cnt})
	</insert>
	
	<select id="boardView" resultType="boardDto">
		SELECT 
			A.BOARD_NO, A.TITLE, A.CONTENTS, A.MEMBER_ID, A.HITS_CNT, A.BOARD_DT, (
				SELECT COUNT(*) 
				FROM REPLY B 
				WHERE B.BOARD_NO = A.BOARD_NO
			) AS REPLY_CNT
		FROM 
			BOARD A 
		WHERE
			BOARD_NO = #{param1}
	</select>
	
	<update id="boardUpdate">
		UPDATE
			BOARD
		SET
			TITLE = #{param1}, CONTENTS = #{param2}
		WHERE 
			BOARD_NO = #{param3}
	</update>
	
	<delete id="boardDrop">
		DELETE FROM
			BOARD
		WHERE
			BOARD_NO = #{param1}
	</delete>

	<update id="boardHits" parameterType="boardDto">
		UPDATE
			BOARD
		SET
			HITS_CNT = #{hits_cnt}
		WHERE
			BOARD_NO = #{board_no}
	</update>
	
	
	
</mapper>