<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.uglyduck.webapp.dao.MemberDao">

	<insert id="addMember" parameterType="memberDto">
		INSERT INTO 
			MEMBER
		VALUES (#{id}, #{pw}, #{name}, #{nickname}, #{email}, #{ip}, SYSDATE, 'user')
	</insert>
	
	<select id="idCheck" resultType="memberDto">
		SELECT 
			*
		FROM
			MEMBER
		WHERE
			ID = #{param1}
	</select>
	
	<select id="idPwCheck" resultType="memberDto">
		SELECT
			*
		FROM 
			MEMBER
		WHERE
			ID = #{param1} AND PW = #{param2}
	</select> 
	
	<update id="modifyMember" parameterType="memberDto">
		UPDATE 
			MEMBER
		SET
			NAME = #{name}, NICKNAME = #{nickname}, EMAIL = #{email}
		WHERE
			ID = #{id} 
	</update>
	
	<update id="pwUpdate">
		UPDATE
			MEMBER
		SET
			PW = #{param1}
		WHERE
			ID = #{param2}
	</update>
	
	<update id="dropMember" parameterType="memberDto">
		UPDATE
			MEMBER
		SET
			ROLE = 'withdraw'
		WHERE
			ID = #{param1}
	</update>
	
	<select id="emailConfirm" resultType="memberDto">
		SELECT
			*
		FROM
			MEMBER
		WHERE
			Email = #{email}
	</select>
	
	<update id="uuidUpdate">
		UPDATE
			MEMBER
		SET
			UUID = #{param1}
		WHERE
			ID = #{param2}
	</update>
	
	<update id="newPassword">
		UPDATE
			MEMBER
		SET
			PW = #{param1}
		WHERE
			ID = #{param2} AND UUID = #{param3}
	</update>
	
</mapper>