<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.uglyduck.webapp.dao.ReplyDao">
		
	<select id="getReplyList" resultType="ReplyDto">
		SELECT
			*
		FROM 
			REPLY
		WHERE
			BOARD_NO = #{param1}
		ORDER BY
			REPLY_NO DESC
	</select>
	
	<insert id="replyWrite" parameterType="ReplyDto">
		INSERT INTO
			REPLY(REPLY_NO, BOARD_NO, REPLY_DT, REPLY_CON, MEMBER_ID)
		VALUES(REPLY_SEQ.NEXTVAL, #{board_no} , SYSDATE, #{reply_con}, #{member_id})
	</insert>
	
	<select id="getReplyTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM REPLY
	</select>
	
	<update id="replyUpdate">
		UPDATE 
			REPLY
		SET
			REPLY_CON = #{param2}
		WHERE
			REPLY_NO = #{param1}
	</update>
	
	<delete id="replyDrop">
		DELETE FROM
			REPLY
		WHERE
			REPLY_NO = #{param1}
	</delete>

</mapper>